---
layout: default
title: Home
---


<div class="index-content">
    <h1>Latest Projects</h1>

    {% assign items = site.project | sort: 'order' %}
    {% for project in items reversed %}
    {% if project.featured == true %}

    <div class="home-project">
      <h2><a href="/portfolio/#{{project.title}}">{{project.title}}</a></h2>
      <div class="home-project-img"><img src="{{ project.icon }}" width="200" /></div>
      <div class="home-project-description">{{project.short-description}}</div>
      <div class="clear"></div>
    </div>

    {% endif %}
    {% endfor %}

<hr />
  <!-- </div> -->

  <!-- <div class="right-box"> -->
    <h1>Latest Articles</h1>
    {% include publications.html %}
  <!-- </div> -->

</div>
<h2>About Me</h2>
<p>I am a London-based freelance iOS, watchOS, and tvOS Developer and mobile tech consultant.</p>
<p>I've been writing software for nearly 10 years with a wealth of experience with both big brands and small businesses.</p>
<p>I value top-notch design just as much as high-quality, well-architected code. I have a deep passion for UX design and a maniacal attention to details.</p>

<hr />
