.contact {
    text-align: left;
    display: -webkit-box;
    z-index: 120;
}

.contact_link {
    width: 35px;
    display: inline-block;
}

.content {
  padding-top: 0;
}

.index-content {
  display: block;
  width: 100%;
}

.index-content h1 {
  margin-bottom: 50px;
}

.home-project  {
  display: block;
  width: 100%;
  margin-bottom: 80px;
}

.home-project a {
  color: black;
}


.home-project-img {
  float: left;
  margin-right: 20px;
}

.home-project-description {
  margin-left: 50px;
}

.clear {
  clear: both;
}

.sidebar-about h1{
  display: inline-block;
  line-height: 1.0;
}

.mdm-hero.mdm-hero--story.mdm-imageCover.mdm-hero--light {
  background-image: hidden;
}
